{% with {attr: app.request.attributes, hasPrev: pager.hasPreviousPage, hasNext: pager.hasNextPage} %}
  {% if hasPrev or hasNext %}
    <nav class="pagination">
      <ul>
        {% if hasPrev %}
          <li class="previous">
            <a href="{{ path(attr.get('_route'), attr.get('_route_params')|default({})|merge({page: pager.previousPage})) }}">
              {{ 'nav.previous'|trans }}
            </a>
          </li>
        {% endif %}
        {% if hasNext %}
          <li class="next">
            <a href="{{ path(attr.get('_route'), attr.get('_route_params')|default({})|merge({page: pager.nextPage})) }}">
              {{ 'nav.next'|trans }}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endwith %}
