<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if app.environment == 'dev' %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet/less" href="{{ asset('css/main.less') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    {% else %}
      <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    {% endif %}

    {% block head %}{% endblock %}
  </head>

  <body class="{{ block('page_classes')|replace({'\n': ''}) }}">
    {% include '@RadditApp/nav.html.twig' %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
