{% extends '@RadditApp/forum_base.html.twig' %}

{% block page_classes %}edit-forum-page{% endblock %}
{% block title 'edit_forum.title'|trans({'%forum%': '/f/'~forum.name}) %}

{% block body %}
  <h1>
    {{ 'title.editing_forum'|trans({
      '%forum%': '<a href="%s">/f/%s</a>'|format(path('raddit_app_forum', {forum_name: forum.name})|e, forum.name|e)
    })|raw }}
  </h1>

  {{ include('@RadditApp/forms/forum_form.html.twig', {form: form}, with_context=false) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $('.delete-forum').click(function () {
      return confirm(Translator.trans('forum_form.confirm_delete'));
    });
  </script>
{% endblock %}
