{% extends '@RadditApp/base.html.twig' %}

{% form_theme form '@RadditApp/forms/standard_form_theme.html.twig' %}

{% block title %}{{ 'edit_user.title'|trans({'%username%': user.username}) }}{% endblock %}

{% block page_classes %}edit-user-page{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% include '@RadditApp/forms/user_form.html.twig' %}
{% endblock %}

