{% extends '@RadditApp/base.html.twig' %}

{% form_theme form '@RadditApp/forms/standard-form-theme.html.twig' %}

{% block title %}{{ 'edit_user.title'|trans({'%username%': user.username}) }}{% endblock %}

{% block page_classes %}edit-user-page{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ form(form) }}
{% endblock %}

