{% extends '@RadditApp/front.html.twig' %}

{% block page_classes %}
  featured-page
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar__section--featured-forums">
    <h1 class="sidebar__title">{{ 'front.featured_forums'|trans }}</h1>

    {% if forums|length > 0 %}
      <ul>
        {% for name in forums %}
          <li><a href="{{ path('raddit_app_forum', {forum_name: name}) }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ 'front.no_forums'|trans }}</p>
    {% endif %}
  </section>
{% endblock %}
