{% extends '@RadditApp/base.html.twig' %}

{% block page_classes 'message-reply-errors-page' %}
{% block title thread.title %}

{% block body %}
  <h1><a href="{{ path('raddit_app_message', {id: thread.id}) }}">{{ thread.title }}</a></h1>

  {{ include('@RadditApp/forms/message_form.html.twig', {form: form}, with_context=false) }}
{% endblock %}
