{% spaceless %}
  <nav class="site-nav">
    <ul class="user-nav">
      {% if not is_granted('ROLE_USER') %}
        <li><a href="{{ path('raddit_app_login') }}">Log in</a></li>
        <li><a href="{{ path('raddit_app_registration') }}">Register</a></li>
      {% else %}
        <li><a href="{{ logout_path() }}">Log out</a></li>
      {% endif %}
    </ul>
  </nav>
{% endspaceless %}
