{% extends '@RadditApp/base.html.twig' %}

{% block title 'title.new_theme'|trans %}
{% block page_classes 'create-theme-page' %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ include('@RadditApp/forms/theme_form.html.twig', {
    form: form,
    editing: false
  }, with_context=false) }}
{% endblock %}

