root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.html.twig]
indent_size = 2

[*.less]
indent_size = 2
