{% extends forum is defined and forum ? 'forum/base.html.twig' : 'base.html.twig' %}

{% block page_classes 'create-submission-page' %}
{% block title 'title.create_submission'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ include('submission/_form.html.twig', {form: form}, with_context=false) }}

  <script>
    $(document).ready(function(){
      var i = 0;
      $('#submission_forum option').each(function(){
        if (i==0) $(this).remove();
        var htmlText = $(this).html();
        if (htmlText != 'GunDeals') {
            $(this).html($(this).html().replace('Deals', ''));
        }
        i++;
      });
      $('#submission_forum').val(1);
    });
  </script>
{% endblock %}
{% block sidebar %}
When posting your deal please remember to [flair] it and have the price or percentage off in your post! Proper flair is as follows:
<ul>
<li>[Acc] - Accessories like holsters, bayonets, foregrips, etc</li>
<li>[Ammo] - Ammunition, does not include reloading components</li>
<li>[Code] - Site wide discount codes or free shipping codes, not codes for a single item</li>
<li>[Handgun] - Revolver, pistol, AR "pistol", etc</li>
<li>[Magazine] - PMAG, etc</li>
<li>[Optics] - Scopes, red dots, iron sights - if you use it to aim it's an optic</li>
<li>[Parts] - If it makes the gun fire or is considered "part" of the gun, barrels, internal parts, gas blocks, slide, etc</li>
<li>[Rifle] - Non-NFA firearms that are a rifle by definition</li>
<li>[Shotgun] - Non-NFA firearms that are a shotgun by definition and not Shockwave type firearms</li>
<li>[Other gun] - All other guns, silencers, AOWs, SBRs, Shockwave-not-SBS, etc</li>
<li>[Other] - Catchall if you don't think it meets any of the above definitions, bags, locks, etc</li>
</ul>
{% endblock %}
