{% extends forum is defined and forum ? '@RadditApp/forum/base.html.twig' : '@RadditApp/base.html.twig' %}

{% block page_classes 'create-submission-page' %}
{% block title 'title.create_submission'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ include('@RadditApp/submission/_form.html.twig', {form: form}, with_context=false) }}
{% endblock %}
