{% extends 'base.html.twig' %}

{% block title 'flash.no_password_resets'|trans %}

{% block body %}
  <div class="alert alert--notice">
    <p>{{ 'flash.no_password_resets'|trans }}</p>
  </div>
{% endblock %}
