{% extends 'base.html.twig' %}
{% from 'comment/_macros.html.twig' import comment %}

{% block page_classes 'comment-list-page' %}
{% block title 'title.recent_comments'|trans %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ comment(comment, {recurse: false}) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

