@import (reference) 'mixins';

.content-wrapper {
  .clear-fix();
  margin: 0 1em;
}

.site-alerts {
  margin: 1rem;

  &:empty {
    display: none;
  }

  .alert {
    animation: fadein 1s;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .alert-notice {
    background: aliceblue;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
