@import (reference) 'mixins';
@import (reference) 'settings';

.comment {
  padding-top: 1rem;

  &:target > .comment-row {
    background: @comment-highlight-background;
    border: dotted 1px;
  }
}

.comment-row {
  .vote-flex;
}

/*
 * 1. Indent nested comments.
 */
.comment-replies {
  .comment {
    margin-left: 1rem; /* 1 */
  }
}

.comment-nav {
  .meta-nav;
}

/*
 * 1. Hide label in comment form.
 */
.comment-form .comment-row label {
  display: none; /* 1 */
}
