@page-background-color: white;
@page-color: black;
@page-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@page-font-size: 14px;
@page-line-height: 1.5em;
@page-link-color: #c00;
@nav-background-color: #c00;
@nav-link-color: #fff;
@vote-arrow-color: lightslategrey;
@submission-link-color: #c00;
@meta-color: slategrey;
@sidebar-background-color: #efe;
@comment-highlight-background: #fff0f0;
