@import (reference) 'mixins';
@import (reference) 'settings';

.submission {
  padding: 1em 0;
}

.submission-row {
  .vote-flex;
}

.submission-title {
  font-size: 1.33em;
  font-weight: normal;
  margin: 0;
}

.submission-link:visited {
  color: @submission-link-color-visited;
}

.submission-info {
  .meta;
}

.submission-nav {
  .meta-nav;

  .submission-body-hidden & > ul {
    margin-top: 0;
  }
}

.submission-sort {
  .horizontal-menu();

  ul {
    display: table;
    margin: 0.25em 0;
  }

  li {
    display: table-cell;
  }

  a {
    background: @submission-sort-link-background-color;
    color: @submission-sort-link-color;
    display: block;
    padding: 0.5em 1em;
  }

  .active {
    background-color: @submission-sort-active-link-background-color;
    color: @submission-sort-active-link-color;
  }
}
