.flex-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-5 { flex-grow: 5; }
.flex-grow-6 { flex-grow: 6; }
.flex-grow-7 { flex-grow: 7; }
.flex-grow-8 { flex-grow: 8; }
.flex-grow-9 { flex-grow: 9; }
.flex-grow-10 { flex-grow: 10; }
.flex-grow-11 { flex-grow: 11; }
.flex-grow-12 { flex-grow: 12; }

.flex-align-end { align-items: flex-end; }
