@import (reference) 'mixins';
@import (reference) 'settings';

.submission {
  &.odd {
    background: @submission-odd-row-color;
    border-top: 1px dashed @submission-separator-color;
    border-bottom: 1px dashed @submission-separator-color;
  }
  padding: 1rem;
  &:last-of-type {
    margin-bottom: 1rem;
  }
}

// Desktop only
@media screen and (min-width: @desktop-min-width) {
  .submission {
    margin-right: 1rem;
  }
}

.submission-header > * {
  margin-bottom: 0;
}

.submission-row {
  .vote-flex;
}

.submission-title {
  font-size: 1.33rem;
  font-weight: normal;
  margin: 0;
}

.submission-image,
.submission-thumbnail {
  display: block;
}

.submission-image-container {
  margin-right: 1rem;

  @media screen and (max-width: 480px) {
    // don't show thumbnails on tiny screens
    display: none;
  }
}

.submission-link:visited {
  color: @submission-link-color-visited;
}

.submission-sticky {
  .submission-link {
    color: @submission-sticky-link-color;
  }
  .vote {
    visibility: hidden;
  }
}

.submission-info {
  .meta;
}

.submission-nav-ul {
  margin-bottom: 0;
  padding: 0;
}

.submission-nav-li {
  display: inline-block;
  padding: 0;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  form {
    display: inline;
  }
}

.submission-nav-link {
  .unbuttonize();
  
  cursor: pointer;
  font-weight: bold;

  color: @meta-color;
  font-size: 0.85rem;
  padding: 0.075rem 0;

  &:hover {
    text-decoration: underline;
  }
}

.submission-body {
  word-wrap: break-word;
  padding-top: 1rem;
}

.submission-host {
  font-size: 0.75rem;
}

.submission-permalink-nav {
  .horizontal-menu();
}
