.comment-inner {
  display: table;
}

.comment-replies .comment {
  margin-left: 1em;
}

.submission {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.vote {
  display: table-cell;
  font-weight: bold;
  padding: 0 1.5em;
  text-align: center;
  overflow: hidden;
  width: 1px;
}

.vote * {
  display: block;
}

.vote-up-link,
.vote-down-link {
  text-decoration: none;
}

.vote-up-link,
.vote-down-link {
  color: lightslategrey;
}
