{% extends 'base.html.twig' %}

{% block page_classes 'forum-category-create-page' %}
{% block title 'title.create_user_group'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ include('group/_form.html.twig', {editing: false, form: form}, with_context=false) }}
{% endblock %}
