{% extends 'base.html.twig' %}

{% block title 'title.new_theme'|trans %}
{% block page_classes 'create-theme-page' %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ include('theme/_settings_form.html.twig', {
    form: form,
    editing: false
  }, with_context=false) }}
{% endblock %}

