@import (reference) '../settings';

@media screen and (min-width: @desktop-min-width) {
  .site-banner {
    img {
      max-width: 300px;
    }
    background: @banner-background-main;
    background: linear-gradient(to bottom, @banner-background-gradient-top, @banner-background-gradient-bottom);
    text-align: center;
  }
}

// mobile
@media screen and (max-width: (@desktop-min-width - 1px)) {
  .site-banner {
    img {
      width: 100%;
      max-width: 300px;
    }
    background: @banner-background-main;
    background: linear-gradient(to bottom, @banner-background-gradient-top, @banner-background-gradient-bottom);
    text-align: center;
  }
}
