{% extends 'base.html.twig' %}
{% from 'user/_macros.html.twig' import user_link %}

{% block page_classes 'user-block-page' %}
{% block title 'title.blocking_user'|trans({'%user%': '/u/'~blockee.username}) %}

{% block body %}
  <h1 class="page-heading">
    {{ 'title.blocking_user'|trans({
      '%user%': user_link(blockee, {prefix: true}),
    })|raw }}
  </h1>

  <div class="alert alert--notice">
    <p>{{ 'help.block_users'|trans }}</p>
  </div>

  {{ form(form) }}
{% endblock %}

